*{
    margin: 0 0 0 0;
    font-size: 1rem;
    font-family: calibri;
}
.splash-screen{
    padding: 4rem;
    background-image: url("konsepta-studio-6n9dzMQr8X0-unsplash.jpg");
    background-color: grey;
    background-size: cover;
}
.container1{
    margin: 0 10rem 5rem 10rem;
}
nav{
    display: flex;
    align-content: center;
    order: 5;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    
    /* align-items: center; */
    /* padding: 10px 0 10px 0; */
}
.nav-item{
    padding: 1rem;
    color: black;
    text-underline-position: unset;
}
.links{
    text-decoration: none;
}

.home{
   text-align: center;
   margin: 10rem;
   color: white;
}
.heading{
    font-size: 5rem;
    font-weight: normal;
    padding: 1rem;
}
.subheading{
    font-size: 4rem;
    padding: 1rem;

}
.tagline{
    font-size: 1.5rem;
    padding: 1rem;

}
/* .content{
    background-color: #41444b;
    color: white;
   
} */
.container2{
    margin: 5rem;
    height: 460px;
    padding: 3rem 3rem 0 3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

    /* border: 2px solid; */
}

.container{
    margin: 5rem;
    height: 800px;
    padding: 3rem;
}

.resume-container{
    margin: 5rem 5rem 0 5rem;
    height: 800px;
    padding: 3rem;
    /* border: 3px slategrey; */
    /* box-shadow: #6e6d6d; */

}

.position{
    color: white;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    /* margin: 0 2rem; */
    flex-wrap: wrap;
    
}
.img-type{
    width: 239px;
    padding: 0 3rem 0 3rem;
    height: 300px;
}
.portfolio-img{
    object-fit: cover;
    width: 239px;
    height: 300px;

}

.name{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

.resume-heading{
    text-align: center;
    font-size: 2rem;
    padding: 0 5rem 5rem 5rem;
}

.portfolio-title{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
    
}
.resume{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* width: 80%;
    height: 800px;
    background: aqua;
    margin: auto;
    padding: 10px; */
}
.education{
    display: flex;
    justify-content: space-around;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;

    
}
.work-experience{
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
   
}
.education-type{
   margin: 1rem;
   padding: 2rem;
   border-radius: 2px;
   background-color: #6e6d6d;
   color: white;
}

.resume-info{
    padding: 0.5rem;
    font-size: 1rem;
}

.headings{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.about-container{
    margin: 0 5rem 0 5rem;
    height: 370px;
    padding: 2rem;
    /* border: 1px solid;  */
    border-radius: 2rem;
    /* border-radius: 1px; */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}
.about{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem 0 5rem;  
    
    
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5rem;
    
}

.info-head{
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}
.info{
    font-size: 1.5rem;
}
.info-btn{
    font-size: 1rem;
    text-align: center;
    margin: 0 10rem 0 10rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: #68b0ab;
    color: white;

}

.pic{
    object-fit: cover;
    width: 239px;
    height: 300px;
}


.services-container{
    margin: 5rem 5rem 0 5rem;
    height: 450px;
    padding: 3rem;
    height: 640px;
}

.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 450px;
}
.services-heading{
    text-align: center;
    font-size: 2rem;
    padding: 0 5rem 1rem 5rem;
    font-weight: normal;
}
.service-type{
    text-align: center;
    padding: 1rem;
    width: 239px;
    background-color: #6e6d6d;
    color: white;
    font-weight: lighter;

}
.service-sec{
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}
.sec-info{
    font-size: 1rem;
    padding: 1rem;
}

.icon{
    width: 110px;
}

.more{
    margin: 1rem;
    font-size: 1rem;
    padding: 1rem;
}
.contact-container{
    margin: 0 5rem 5rem 5rem;
    /* height: 800px; */
    padding: 2rem;
    height: 640px;
    /* border: 1px solid; */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}
.contact-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    padding: 0 2rem 0 2rem;
}

.contact{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
}

.head{
    font-size: 1.5em;
    padding: 1rem;
    font-weight: normal;
}

.form{
    display: flex;
    flex-direction: column;
}
.contact-details{
    display: flex;
    flex-direction: column;
    width: 8000px;
}
form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
}
.submit-btn{
    padding: 1rem;
    margin: 0 13rem 0 13rem;
    border: 1px solid;
    background-color: #68b0ab;
    color: white;
    border-radius: 1px;
}
.entry{
    margin: 1rem;
    padding: 1rem;
}
.email, .phone, .address{
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}
.tt{
    font-weight: bold;
    padding: 1rem;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .splash-screen, .container2, .container1, .about-container, .resume-container, .services-container, .contact-container {
      width:100%;
    }
  }

  @media screen and (max-width: 700px) {
    .resume-container{
        flex-direction: column;
        flex-wrap: wrap;
    }

}
